html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url('../assets/logo_final.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

#overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 280px;
  right: 620px;
  width: 168px;
  height: 58.5px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.play-button img {
  width: 100%;
  height: 100%;
  display: block;
}

.play-button:focus {
  outline: none;
}

.play-img {
  width: 100%;
  height: 100%;
  display: block;
}

.play-button:hover {
    transform: scale(1.1); 
    transition: transform .35s ease-in-out;
}


.container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 5px;
}
